.about-page {
  font-family: 'Jura', sans-serif;
  background: linear-gradient(135deg, #fdfdfd, #cfcfdf);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.about-header {
  text-align: center;
  margin-bottom: 30px;
}

.photo-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
  border: 4px solid #ddd;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-name {
  font-size: 2rem;
  margin-bottom: 5px;
  color: #0d172a;
}

.about-role {
  font-size: 1.2rem;
  color: goldenrod;
}
.about-mole {
  font-size: 1.2rem;
  color: #ddd;
}


.about-content {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.project {
  margin-bottom: 40px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.project-description {
  max-width: 800px;
  line-height: 1.5;
}

.project-description p {
  margin: 10px 0;
  color: #444;
}

.project-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}

.project-button {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 1rem;
  font-weight: 600;
  color: #0d172a;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.project-button:hover {
  background: #202830d3;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  color: #e7e7e7;
}

.interests {
  margin-top: 40px;
}

.interests h2 {
  font-size: 1.8rem;
  color: #0d172a;
  margin-bottom: 20px;
}

.interests ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  color: #0d172a;
}

.interests li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.interests li:hover {
  color: #4455a5;
  transform: scale(1.1); 
}
